In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv("E:\jupyter notebook\Machine Learning\Encoding Techniques\Hashing Encoding\Data set\Companies.csv")
df

,Customer_ID,Gender,Age,Annual Income (k$),Spending score(1-100),Area
0,1,Male,19,15,39,Dhaka
1,2,Male,21,15,81,Rajshahi
2,3,Female,20,16,6,Rangpur
3,4,Female,23,16,77,Khulna
4,5,Female,31,17,40,Dhaka
5,6,Female,22,17,76,Khulna
6,7,Female,35,18,6,Dhaka
7,8,Female,23,18,94,Rangpur
8,9,Male,64,19,3,Rangpur
9,10,Female,30,19,72,Dhaka
10,11,Male,33,25,67,Chandpur

In [3]:
df.isnull().sum()

Customer_ID              0
Gender                   0
Age                      0
Annual Income (k$)       0
Spending score(1-100)    0
Area                     0
dtype: int64

In [4]:
df["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [5]:
df["Area"].unique()

array(['Dhaka ', 'Rajshahi', 'Rangpur', 'Khulna', 'Chandpur'],
      dtype=object)

In [6]:
import category_encoders as ce

ModuleNotFoundError: No module named 'category_encoders'

In [ ]:
encoders= ce.HashingEncoder(cols="Area", n_components=5)

In [ ]:
final= encoders.fit_transform(df)

In [ ]:
final

In [ ]:
final["Gender"] = final["Gender"].replace(['Male', 'Female'],[1,0])

In [ ]:
final