# Feature Scaling

# 1) Normalization

# 2) Standardisation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("E:\jupyter notebook\Machine Learning\Features Scaling\Data set\country.csv")
df

  country  age  salary purchased
0  France   44   72000        no
1   Spain   27   48000       yes
2  Gemany   30   54000        no
3   Spain   38   61000        no
4  Gemany   40   70000       yes
5  France   35   58000       yes
6   Spain   31   52000        no
7  France   48   79000       yes
8  Gemany   50   83000        no
9  France   37   67000       yes

In [3]:
x = df[["age","salary"]]

In [4]:
x

   age  salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40   70000
5   35   58000
6   31   52000
7   48   79000
8   50   83000
9   37   67000

# Min Max Scaler

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
MMS = MinMaxScaler(feature_range =(0,1))

In [7]:
x_after_min_max_scaling = MMS.fit_transform(x)

In [8]:
x_after_min_max_scaling

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.56521739, 0.62857143],
       [0.34782609, 0.28571429],
       [0.17391304, 0.11428571],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714]])

# Standardisation

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
STS = StandardScaler()

In [11]:
x_after_standardisation = STS.fit_transform(x)

In [12]:
x_after_standardisation

array([[ 0.82572282,  0.6829409 ],
       [-1.51382518, -1.47371457],
       [-1.10096377, -0.9345507 ],
       [ 0.        , -0.30552619],
       [ 0.27524094,  0.50321961],
       [-0.41286141, -0.57510812],
       [-0.96334329, -1.11427199],
       [ 1.37620471,  1.31196541],
       [ 1.65144565,  1.67140798],
       [-0.13762047,  0.23363768]])

# Standardisation is better than Min_max_scaler