In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df  = pd.read_csv("E:\jupyter notebook\Machine Learning\K- Nearest Neighbor\Regression\Data set\weight-height_1.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [4]:
df.shape

(10000, 3)

# For Encoding

In [5]:
from sklearn.preprocessing import LabelEncoder

le= LabelEncoder()

In [6]:
dfle = df
dfle["Gender"] = le.fit_transform(df["Gender"])
dfle.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [7]:
x = df.drop('Height', axis=1)

In [8]:
y = df['Height']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
#split dataset into train and test
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=.40,random_state=1)

In [11]:
xtrain.tail()

      Gender      Weight
2895       1  205.545795
7813       0  152.749747
905        1  175.093255
5192       0  156.832191
235        1  198.460249

# For KNN(Regression)

In [12]:
from sklearn.neighbors import KNeighborsRegressor

In [13]:
model = KNeighborsRegressor(n_neighbors=100)

In [14]:
model.fit(xtrain,ytrain)

KNeighborsRegressor(n_neighbors=100)

In [15]:
model.score(xtest,ytest)

0.859689658368864

In [16]:
y_predicted = model.predict(xtest)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_squared_error(ytest , y_predicted)

2.16695852295866